/* .App {
  margin: 25px 70px;
}

html {
  background-color: black;
} */

/* body{
  background-color: black;
} */
/* body{
  background-repeat: no-repeat;
  background-position: center;
  background: 
    url("../src/files/covers/colisee.jpg"),
    url("../src/files/covers/Gladiator-Movie.jpg"),
    url("../src/files/covers/black-women-equal-rights.jpg"),
    url("../src/files/covers/Hidden-Figures-Movie.jpg"),
    url("../src/files/covers/Titanic-wreck.jpg"),
    url("../src/files/covers/titanic-movie-cover.jpg")  
    
    ;
  -webkit-background:cover;
  -moz-background:cover;
  -o-background:cover;
  background:cover;
  background-size: 1920px 1080px; 
  opacity: 100%;
} */
/* 
hr {
  margin: "10rem 0 3rem auto";
  position: "relative";
  border: 1.5px solid white;
} */
